<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify Express Homepage</title>
  </head>
  <body>
    <form class="" action="artist" method="post">
      <input type="search" name="artist" value="">
      <button type="button" name="submit">Search artist</button>
    </form>
  </body>
</html>
